//! **************************************************************************
// Written by: Map P.20131013 on Sat Jul 12 01:44:22 2014
//! **************************************************************************

SCHEMATIC START;
COMP "ledsmain<0>" LOCATE = SITE "M26" LEVEL 1;
COMP "ledsmain<1>" LOCATE = SITE "T24" LEVEL 1;
COMP "sysclk_n" LOCATE = SITE "P3" LEVEL 1;
COMP "ledsmain<2>" LOCATE = SITE "T25" LEVEL 1;
COMP "sysclk_p" LOCATE = SITE "R3" LEVEL 1;
COMP "ledsmain<3>" LOCATE = SITE "R26" LEVEL 1;
COMP "dipswitch<0>" LOCATE = SITE "R8" LEVEL 1;
COMP "dipswitch<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "dipswitch<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "ledsboard<0>" LOCATE = SITE "F25" LEVEL 1;
COMP "dipswitch<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "ledsboard<1>" LOCATE = SITE "G25" LEVEL 1;
COMP "ledsboard<2>" LOCATE = SITE "G26" LEVEL 1;
COMP "rotarysw<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "ledsboard<3>" LOCATE = SITE "H26" LEVEL 1;
COMP "rotarysw<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "rotarysw<2>" LOCATE = SITE "P20" LEVEL 1;
COMP "pushbuttons<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "pushbuttons<1>" LOCATE = SITE "R5" LEVEL 1;
COMP "pushbuttons<2>" LOCATE = SITE "U6" LEVEL 1;
COMP "pushbuttons<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "pushbuttons<4>" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

